/* Reset de estilos */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo semi-transparente */
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.login-form h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-size: 16px;
    font-weight: 500;
    color: #555;
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: calc(100% - 40px); /* Considerando el ancho del icono */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.avatar-icon {
    width: 20px; /* Ajustar el tamaño del avatar aquí */
    height: 20px; /* Ajustar el tamaño del avatar aquí */
    margin-right: 10px;
    vertical-align: middle;
}

.btn {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #45a049;
}

.form-links {
    margin-top: 10px;
    text-align: center;
}

.form-links .link {
    color: #4CAF50;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
}

.form-links .divider {
    font-size: 14px;
    color: #888;
}
